.center-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}


.box {
  width: 550px;
  border: 15px solid gray;
  padding: 50px;
  margin: 20px;
}




